type omsbackend_app, domain;
app_domain(omsbackend_app)

allow omsbackend_app activity_service:service_manager find;

allow omsbackend_app theme_app_data_file:dir { create_dir_perms write };
allow omsbackend_app theme_app_data_file:file create_file_perms;
