type omsbackend_app, domain;
app_domain(omsbackend_app)

allow omsbackend_app activity_service:service_manager find;
allow omsbackend_app display_service:service_manager find;
allow omsbackend_app overlay_service:service_manager find;
allow omsbackend_app network_management_service:service_manager find;
allow omsbackend_app notification_service:service_manager {find};
allow omsbackend_app connectivity_service:service_manager find;

allow omsbackend_app self:{ rawip_socket udp_socket } create;

allow omsbackend_app theme_app_data_file:dir { create_dir_perms write };
allow omsbackend_app theme_app_data_file:file create_file_perms;
allow omsbackend_app app_data_file:dir {search};
