# Direct access to vold-mounted storage under /mnt/media_rw
# This is a performance optimization that allows platform apps to bypass the FUSE layer
allow platform_app sdcard_posix:dir create_dir_perms;
allow platform_app sdcard_posix:file create_file_perms;

# Allow NFC service to find access to system server
allow platform_app nfc_service:service_manager find;

# Allow batterymanager and batteryproperties services to be found
allow platform_app battery_service:service_manager find;
allow platform_app healthd_service:service_manager find;
