# Needed for NFC tile
allow platform_app nfc_service:service_manager find;

allow platform_app app_data_file:file { execute execute_no_trans };

allow platform_app theme_app_data_file:dir { write search getattr };
allow platform_app theme_app_data_file:file create_file_perms;
