type thememanager_app, domain;
app_domain(thememanager_app)

allow thememanager_app theme_app_data_file:file { read open getattr };
allow thememanager_app input_method_service:service_manager { find };
allow thememanager_app display_service:service_manager { find };
allow thememanager_app surfaceflinger_service:service_manager {find};
#allow thememanager_app network_management:service_manager { find };
allow thememanager_app theme_app_data_file:dir { getattr search };
allow thememanager_app theme_app_data_file:file { append read open };
allow thememanager_app activity_service:service_manager { find };
allow omsbackend_app theme_app_data_file:dir create_dir_perms;
allow omsbackend_app theme_app_data_file:file create_file_perms;
