type thememanager_app, domain;
app_domain(thememanager_app)

allow thememanager_app accessibility_service:service_manager find;
allow thememanager_app activity_service:service_manager find;
allow thememanager_app appops_service:service_manager find;
allow thememanager_app audio_service:service_manager find;
allow thememanager_app connectivity_service:service_manager find;
allow thememanager_app display_service:service_manager find;
allow thememanager_app input_method_service:service_manager find;
allow thememanager_app input_service:service_manager find;
allow thememanager_app media_session_service:service_manager find;
allow thememanager_app network_management_service:service_manager find;
allow thememanager_app notification_service:service_manager find;
allow thememanager_app overlay_service:service_manager find;
allow thememanager_app surfaceflinger_service:service_manager find;
allow thememanager_app uimode_service:service_manager find;
allow thememanager_app user_service:service_manager find;
allow thememanager_app wallpaper_service:service_manager find;
allow thememanager_app graphicsstats_service:service_manager find;

allow thememanager_app theme_app_data_file:dir create_dir_perms;
allow thememanager_app theme_app_data_file:file create_file_perms;

allow thememanager_app dnsproxyd_socket:sock_file write;
allow thememanager_app fwmarkd_socket:sock_file write;
allow thememanager_app netd:unix_stream_socket connectto;
allow thememanager_app thememanager_app:udp_socket { create connect getattr bind read write };
allow thememanager_app thememanager_app:rawip_socket { setopt getopt write read };
allow thememanager_app thememanager_app:tcp_socket { create getopt setopt connect getattr read write };
allow thememanager_app port:tcp_socket { name_connect };
allow thememanager_app port:udp_socket { name_bind };
allow thememanager_app node:udp_socket { node_bind };
